<!-- <p>This is the partial for view 1.</p> -->
<div class="container">
	<div ng-repeat="band in bands" class="row band-container" >
				<div class="col-lg-5">
					<span>{{band.artist}}</span>
					<span class="flag-icon flag-icon-{{countriesCodes[band.country]}}" title="{{band.country}}"></span>
					<span ng-show ="{{band.top_tracks.length>0}}" class="audio-controls" ng-model="isPlaying" ng-init="isPlaying = false">
						<ng-md-icon icon="fast_rewind"></ng-md-icon>
						<ng-md-icon icon="play_arrow" ng-click="playAudio(band.top_tracks[0])" ng-hide = "isPlaying"></ng-md-icon>
						<!-- <ng-md-icon icon="stop" ng-click="playAudio(band.top_tracks[0])" ng-show= "isPlaying"></ng-md-icon> -->
						<ng-md-icon icon="fast_forward"></ng-md-icon>
					</span>
				</div>
			
	</div>
</div>	